<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :login %>
    <%= form.text_field :login, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, class: 'form-control' %>
  </div>

  <div class="form-group form-check">
    <%= form.check_box :admin, class: 'form-check-input' %>
    <%= form.label :admin, class: 'form-check-label' %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
