<h1><%= @user.name %></h1>
<% if @user.edit_by?(@current_user) %>
<div class="mb-4">
<%= link_to t('users.edit.btn'), edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to t('users.destroy.btn'), @user, class: 'btn btn-danger', data: {method: :delete, confirm: t('helpers.sure')} %>
</div>
<% end %>
<%= render @posts %>
<%= paginate @posts %>
